div{
    display: inline-block;
    width: 48%;
    height: 500px;
}


.blue{
    background-color: blue;
    display: inline-block;
}
.green{
    background-color: green;
    display: inline-block;
}
/* контейнеры стоят в линию и занимают по 48% ширины страницы */
